{:kotoba.app/id "cloud.itonami.isic-2732", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiexzqptvxk7xcwl2q5svk6pgqdi4nqw3w5bmq7zkzkgyeidegx4mi", :kotoba.app/embed-url "ipfs://bafkreiexzqptvxk7xcwl2q5svk6pgqdi4nqw3w5bmq7zkzkgyeidegx4mi", :published {:archive "https://kotobase.net/ipfs/bafkreiexzqptvxk7xcwl2q5svk6pgqdi4nqw3w5bmq7zkzkgyeidegx4mi", :size 72718, :put-status 201, :get-status 200, :at "2026-08-15T14:03:57.520Z"}}
